<div class="embed-responsive embed-responsive-16by9 mb-4" *ngIf="videoInfo != ''">
    <iframe class="embed-responsive-item" [src]="getVideoInfo()" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<hr class="m-4">
<div class="media m-5" *ngIf="infoMovie != null">
    <img [src]=" 'https://image.tmdb.org/t/p/w500' + infoMovie.poster_path " class="align-self-start mr-3 img-fluid imagen" alt="{{infoMovie.title}} ">
    <div class="media-body">
        <h1 class="mt-0 ">{{ infoMovie.title || infoMovie.name }}</h1>
        <hr>
        <p>{{ infoMovie.overview }}</p>
        <h5 class="mt-0" *ngIf="listSimilar"> Datos </h5>
        <hr>
        <p>Puntuacion: {{ infoMovie.vote_average }}</p>
        <p *ngIf="idiomas != null">Idiomas: {{ idiomas }}</p>
        <h5 class="mt-0" *ngIf="listActores"> Elenco </h5>
        <hr>
        <div style="background: grey">
            <ngb-carousel *ngIf="listActores != []" class="father-carousel">
                <ng-template ngbSlide *ngFor="let item of listActores">
                    <a (click)="getInfoArtista(item.id)">
                        <img class="imagen-corou" [src]="'https://image.tmdb.org/t/p/w500' + item.profile_path" alt="Random first slide">
                    </a>
                    <div class="carousel-caption">
                        <h3>{{ item.character }}</h3>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <h5 class="mt-4" *ngIf="listSimilar"> {{name}} relacionadas </h5>
        <hr>
        <div style="background: grey">
            <ngb-carousel *ngIf="listSimilar != []" class="father-carousel">
                <ng-template ngbSlide *ngFor="let item of listSimilar">
                    <a (click)="getInfoMovie(item.id)">
                        <img class="imagen-corou" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path" alt="Random first slide">
                    </a>
                    <div class="carousel-caption">
                        <h3>{{ item.title || item.name}}</h3>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>