<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://vignette.wikia.nocookie.net/shingeki-no-kyojin/images/e/ea/Eren_Jaeger_-_Anime.png/revision/latest?cb=20190429004402&path-prefix=es" alt="" width="140" height="140">
            <h2>Alejandro Hernandez</h2>
            <p>Estudiante de Ingenieria de ciencias de la Computacion de la Universidad Javeriana de Cali, enfocado en DBA, destaca en SQL server, Postgres, Node4j y MongoDB.</p>
            <button type="button" class="btn btn-outline-secondary" ngbPopover="alejo9720@javerianacali.edu.co" popoverTitle="Correo">
                Contacteme
            </button>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://vignette.wikia.nocookie.net/shingeki-no-kyojin/images/2/2d/Levi_Ackerman_%28Anime%29.png/revision/latest?cb=20180816051528&path-prefix=es" alt="Generic placeholder image" width="140" height="140">
            <h2>Danny Julian Murcia</h2>
            <p>Estudiante de Ingenieria de ciencias de la Computacion de la Universidad Javeriana de Cali, enfocado en el desarrollo, destaca en Angular, Java, C++ y Lua.</p>
            <button type="button" class="btn btn-outline-secondary" ngbPopover="dannyjulian@javerianacali.edu.co" popoverTitle="Correo">
                Contacteme
            </button>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://vignette.wikia.nocookie.net/shingeki-no-kyojin/images/e/e8/Armin_Arlert.png/revision/latest?cb=20170508050754&path-prefix=es" alt="Generic placeholder image" width="140" height="140">
            <h2>Daniel Mamian</h2>
            <p>Estudiante de Ingenieria de ciencias de la Computacion de la Universidad Javeriana de Cali, enfocado en Correctitud de software, destaca en demostraciones formales.</p>
            <button type="button" class="btn btn-outline-secondary" ngbPopover="danielmamian99@javerianacali.edu.co" popoverTitle="Correo">
                Contacteme
            </button>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

</div>